body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.first {
    width: 30%;
    padding: 10px;
    background-color: oldlace;
    border: double;
}

.edit {
    padding: 5px;
    display: block;
    margin: 5px;
}

#addText {
    float: left;
    font-size: large;
    background-color: lightblue;
}

input[type=button].btn {
    border-radius: 5px;
    margin-right: 5px;
!important;
}

table.dataTable tbody tr:hover {
    background-color: aliceblue;
}

#logged {
    font-size: large;
    margin: 5px;
}

#textDiv {
    font-size: 18px;
    padding-bottom: 12px;
    text-align: justify;
    min-height: 200px;
}

#preview {
    float: left;
    margin-right: 15px;
}

 #myModal div {
    width: auto;
 !important;
}

#myModal.modal{
    height: 100%;
}

.alert {
    position: fixed; /* or absolute */
    top: 0;
    width: 30%;
    height:50px;
    z-index: 1000;
    opacity: 0.9;
!important;
}

.textDiv {
    padding: 10px;
    text-align: justify;
    font-size: 18px;
    min-height: 200px;
    border: 1px solid #d0dde5;
}

.topic img {
    float: left;
    padding: 10px;
}

.topic {
    display: block;
    padding-left: 15px;
}

.buttons {
    display: inline;
}

h1 {
    padding-left: 15px;
}

.container {
    margin-top: 50px;
}

