body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.first {
    width: 30%;
    padding: 10px;
    background-color: oldlace;
    border: double;
}

.edit {
    padding: 5px;
    display: block;
    margin: 5px;
}

.login {
    display: block;
}

span {
    display: block;
}

#addText {
    float: left;
    font-size: large;
    background-color: lightblue;
}

input[type=button].btn {
    border-radius: 5px;
    margin-right: 5px;
!important;
}

table.dataTable tbody tr:hover {
    background-color: aliceblue;
}

#logged {
    font-size: large;
    margin: 5px;
}



#textDiv {
    font-size: 18px;
    padding-bottom: 12px;
    text-align: justify;
}

#preview {
    float: left;
    margin-right: 15px;
}
 #myModal div {
    width: auto;
 !important;
}

#myModal.modal{
    height: 100%;
}

.alert {
    position: absolute;
    width: 100%;
    z-index: 1000;
    top: 0px;
}

