<div ng-if="isLogged==0&&!isAddUser">
    <h2>Sign in</h2>
    <div id="log">
        <div id="login">
            <label>Username</label>
            <input type="text" class="login" name="Username" ng-model="login.username">
            <label>Password</label>
            <input type="password" class="login" name="Password" ng-model="login.password">
            <br/><br/>
        </div>
        <input class="loginButton btn btn-success" type="button" value="login" ng-click="loginBtn()">

        <input class="registerButton btn btn-success" type="button" value="Register" ng-click="registerBtn()">
        <a class="btn btn-block btn-social btn-facebook" ng-click="facebookBtn()">
            <span class="fa fa-facebook"></span>
            Sign in with facebook
        </a>
    </div>
</div>

<div ng-if="isLogged!=0&&!isAddUser">
    <h2>Logged <br>{{isLogged}}</h2>
    <a class="exitButton btn btn-danger" href="/main" ng-click="logoutBtn()">Logout</a>
    <a class="addTopicBtn btn btn-info" href="/add">Add topic</a>
</div>

<div ng-if="isAddUser">
    <h2>Register user</h2>
    <div id="log">
        <div id="login">
            <label>Username</label>
            <input type="text" class="login" name="Username" ng-model="login.username">
            <label>Password</label>
            <input type="password" class="login" name="Password" ng-model="login.password">
            <br/><br/>
        </div>
        <input class="registerButton btn btn-success" type="button" value="Register" ng-click="addUser()">
</div>

