<div class="topic" ng-repeat="names in topic.data track by $index">
    <h1>{{names.name}}</h1>
    <p class="lead"><span class="glyphicon glyphicon-time"></span> by <span class="author">{{names.author}}</span> at
        <span class="date">{{names.date|date:'dd/MM/yyyy HH:mm:ss'}}</span></p>
    <p>
            <span class="comments">
                <span class="glyphicon glyphicon-check">
                    <b>{{names.comments}} comments</b>
                    <div class="buttons">
                        <a class="viewButton btn btn-info"href="/view/{{names.name}}">View</a>
                        <a ng-if="isLogged.username===names.author" class="viewButton btn btn-info"href="/edit/{{names.name}}?edit=true">Edit</a>
<input class="viewButton btn btn-info" type="button" value="Delete" ng-if="isLogged.username===names.author" ng-click="deleteTopic($index)">
                    </div>
                </span>
            </span>
    </p>

    <img width="200" ng-src="{{names.img||'img/no-image.png'}}" alt="">
    <div class="textDiv" height="200" ng-bind-html="names.text|to_html"></div>
</div>

<div class="alert alert-danger " tabindex="-1" role="alert" ng-show="topicAllert">
    This is all topics!
</div>
<div class="alert alert-success collapse" tabindex="-1" role="alert">
</div>